Package: python-apt-doc
Source: python-apt
Version: 0.8.8.2Canaima1
Architecture: all
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 1396
Depends: libjs-jquery, python-apt
Enhances: python-apt
Replaces: python-apt (<< 0.7.94)
Section: doc
Priority: optional
Description: Python interface to libapt-pkg (API documentation)
 The apt_pkg Python interface will provide full access to the internal
 libapt-pkg structures allowing Python programs to easily perform a
 variety of functions.
 .
 This package contains the API documentation of python-apt.
