Package: python3-apt-dbg
Source: python-apt
Version: 0.8.8.2Canaima1
Architecture: i386
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 5247
Depends: python3-dbg, python3-apt (= 0.8.8.2Canaima1), libapt-inst1.5 (>= 0.8.11), libapt-pkg4.12 (>= 0.8.16~exp9), libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1)
Breaks: python-apt (<< 0.7.98+nmu1)
Replaces: python-apt (<< 0.7.98+nmu1)
Section: debug
Priority: extra
Description: Python 3 interface to libapt-pkg (debug extension)
 The apt_pkg Python 3 interface will provide full access to the internal
 libapt-pkg structures allowing Python 3 programs to easily perform a
 variety of functions.
 .
 This package contains the extension built for the Python debug interpreter.
